<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:my="http://www.zc.priv/schema/my"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.zc.priv/schema/my http://www.zc.priv/schema/custom/spring-custom.xsd">
    
    <my:test id="1" username="你是name" password="密码" age="2"/>
</beans>